.extrapage,
.extrapage * {
  box-sizing: border-box;
}
.extrapage {
  background: #f5f3f0;
  height: 834px;
  position: relative;
  overflow: hidden;
}
.header {
  position: absolute;
  inset: 0;
}
.rectangle-1 {
  background: #f5f3f0;
  border-style: solid;
  border-color: #c9c9c9;
  border-width: 0px 0px 0.92px 0px;
  width: 1179.6px;
  height: 58.98px;
  position: absolute;
  left: calc(50% - 590px);
  top: 0px;
}
.whistlesafe {
  color: #1c0d0d;
  text-align: left;
  font-family: "PublicSans-Bold", sans-serif;
  font-size: 16.588090896606445px;
  line-height: 20.74px;
  font-weight: 700;
  position: absolute;
  left: 18.22px;
  top: 18.35px;
}
.home {
  color: #1c0d0d;
  text-align: left;
  font-family: "PublicSans-Medium", sans-serif;
  font-size: 12.901848793029785px;
  line-height: 19.35px;
  font-weight: 500;
  position: absolute;
  right: 38.5px;
  top: 19.35px;
}
.incidents {
  color: #1c0d0d;
  text-align: left;
  font-family: "PublicSans-Medium", sans-serif;
  font-size: 12.901848793029785px;
  line-height: 19.35px;
  font-weight: 500;
  position: absolute;
  right: 112.15px;
  top: 19.35px;
}
.insights {
  color: #1c0d0d;
  text-align: left;
  font-family: "PublicSans-Medium", sans-serif;
  font-size: 12.901848793029785px;
  line-height: 19.35px;
  font-weight: 500;
  position: absolute;
  right: 214.36px;
  top: 19.35px;
}
.container{
  background-image: url("hero.png");
  height: 500px;
  width: 500px;
  
}
