.information,
.information * {
  box-sizing: border-box;
}
.information {
  background: #f5f3f0;
  height: 1020px;
  position: relative;
  overflow: hidden;
}
.header {
  position: absolute;
  inset: 0;
}
.rectangle-1 {
  background: #f5f3f0;
  border-style: solid;
  border-color: #c9c9c9;
  border-width: 0px 0px 0.92px 0px;
  width: 1179.6px;
  height: 58.98px;
  position: absolute;
  left: calc(50% - 590px);
  top: 0px;
}
.whistlesafe {
  color: #1c0d0d;
  text-align: left;
  font-family: "PublicSans-Bold", sans-serif;
  font-size: 16.588090896606445px;
  line-height: 20.74px;
  font-weight: 700;
  position: absolute;
  left: 18.22px;
  top: 18.35px;
}
.home {
  color: #1c0d0d;
  text-align: left;
  font-family: "PublicSans-Medium", sans-serif;
  font-size: 12.901848793029785px;
  line-height: 19.35px;
  font-weight: 500;
  position: absolute;
  right: 38.5px;
  top: 19.35px;
}
.incidents {
  color: #1c0d0d;
  text-align: left;
  font-family: "PublicSans-Medium", sans-serif;
  font-size: 12.901848793029785px;
  line-height: 19.35px;
  font-weight: 500;
  position: absolute;
  right: 112.15px;
  top: 19.35px;
}
.insights {
  color: #1c0d0d;
  text-align: left;
  font-family: "PublicSans-Medium", sans-serif;
  font-size: 12.901848793029785px;
  line-height: 19.35px;
  font-weight: 500;
  position: absolute;
  right: 214.36px;
  top: 19.35px;
}
.purpose-empower-citizens-to-report-corruption-securely-anonymous-reporting-protects-identities-features-secure-channels-encrypted-communication-multiple-reporting-options-web-app-hotline-geo-tagging-precise-location-tracking-evidence-upload-attach-files-case-management-efficient-handling-anonymous-messaging-investigators-and-whistleblowers-reporting-click-report-corruption-choose-channel-remain-anonymous-progress-investigators-review-reports-updates-via-secure-messaging-data-security-strict-protocols-regular-audits-encryption {
  color: #ff5050;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 26px;
  line-height: 45px;
  font-weight: 400;
  position: absolute;
  left: 17px;
  top: 116px;
  width: 1088px;
  height: 900px;
}
.purpose-empower-citizens-to-report-corruption-securely-anonymous-reporting-protects-identities-features-secure-channels-encrypted-communication-multiple-reporting-options-web-app-hotline-geo-tagging-precise-location-tracking-evidence-upload-attach-files-case-management-efficient-handling-anonymous-messaging-investigators-and-whistleblowers-reporting-click-report-corruption-choose-channel-remain-anonymous-progress-investigators-review-reports-updates-via-secure-messaging-data-security-strict-protocols-regular-audits-encryption-span {
  color: #000000;
  font-family: "PublicSans-Bold", sans-serif;
  font-size: 26px;
  line-height: 45px;
  font-weight: 700;
}
.purpose-empower-citizens-to-report-corruption-securely-anonymous-reporting-protects-identities-features-secure-channels-encrypted-communication-multiple-reporting-options-web-app-hotline-geo-tagging-precise-location-tracking-evidence-upload-attach-files-case-management-efficient-handling-anonymous-messaging-investigators-and-whistleblowers-reporting-click-report-corruption-choose-channel-remain-anonymous-progress-investigators-review-reports-updates-via-secure-messaging-data-security-strict-protocols-regular-audits-encryption-span2 {
  color: #000000;
  font-family: "PublicSans-ExtraBold", sans-serif;
  font-size: 26px;
  line-height: 45px;
  font-weight: 800;
}
.purpose-empower-citizens-to-report-corruption-securely-anonymous-reporting-protects-identities-features-secure-channels-encrypted-communication-multiple-reporting-options-web-app-hotline-geo-tagging-precise-location-tracking-evidence-upload-attach-files-case-management-efficient-handling-anonymous-messaging-investigators-and-whistleblowers-reporting-click-report-corruption-choose-channel-remain-anonymous-progress-investigators-review-reports-updates-via-secure-messaging-data-security-strict-protocols-regular-audits-encryption-span3 {
  color: #000000;
  font-family: "PublicSans-Light", sans-serif;
  font-size: 26px;
  line-height: 45px;
  font-weight: 300;
}
.purpose-empower-citizens-to-report-corruption-securely-anonymous-reporting-protects-identities-features-secure-channels-encrypted-communication-multiple-reporting-options-web-app-hotline-geo-tagging-precise-location-tracking-evidence-upload-attach-files-case-management-efficient-handling-anonymous-messaging-investigators-and-whistleblowers-reporting-click-report-corruption-choose-channel-remain-anonymous-progress-investigators-review-reports-updates-via-secure-messaging-data-security-strict-protocols-regular-audits-encryption-span4 {
  color: #000000;
  font-family: "PublicSans-Bold", sans-serif;
  font-size: 26px;
  line-height: 45px;
  font-weight: 700;
}
.purpose-empower-citizens-to-report-corruption-securely-anonymous-reporting-protects-identities-features-secure-channels-encrypted-communication-multiple-reporting-options-web-app-hotline-geo-tagging-precise-location-tracking-evidence-upload-attach-files-case-management-efficient-handling-anonymous-messaging-investigators-and-whistleblowers-reporting-click-report-corruption-choose-channel-remain-anonymous-progress-investigators-review-reports-updates-via-secure-messaging-data-security-strict-protocols-regular-audits-encryption-span5 {
  color: #000000;
  font-family: "PublicSans-Light", sans-serif;
  font-size: 26px;
  line-height: 45px;
  font-weight: 300;
}
.purpose-empower-citizens-to-report-corruption-securely-anonymous-reporting-protects-identities-features-secure-channels-encrypted-communication-multiple-reporting-options-web-app-hotline-geo-tagging-precise-location-tracking-evidence-upload-attach-files-case-management-efficient-handling-anonymous-messaging-investigators-and-whistleblowers-reporting-click-report-corruption-choose-channel-remain-anonymous-progress-investigators-review-reports-updates-via-secure-messaging-data-security-strict-protocols-regular-audits-encryption-span6 {
  color: #000000;
  font-family: "PublicSans-Light", sans-serif;
  font-size: 26px;
  line-height: 45px;
  font-weight: 300;
}
.purpose-empower-citizens-to-report-corruption-securely-anonymous-reporting-protects-identities-features-secure-channels-encrypted-communication-multiple-reporting-options-web-app-hotline-geo-tagging-precise-location-tracking-evidence-upload-attach-files-case-management-efficient-handling-anonymous-messaging-investigators-and-whistleblowers-reporting-click-report-corruption-choose-channel-remain-anonymous-progress-investigators-review-reports-updates-via-secure-messaging-data-security-strict-protocols-regular-audits-encryption-span7 {
  color: #000000;
  font-family: "PublicSans-Bold", sans-serif;
  font-size: 26px;
  line-height: 45px;
  font-weight: 700;
}
.purpose-empower-citizens-to-report-corruption-securely-anonymous-reporting-protects-identities-features-secure-channels-encrypted-communication-multiple-reporting-options-web-app-hotline-geo-tagging-precise-location-tracking-evidence-upload-attach-files-case-management-efficient-handling-anonymous-messaging-investigators-and-whistleblowers-reporting-click-report-corruption-choose-channel-remain-anonymous-progress-investigators-review-reports-updates-via-secure-messaging-data-security-strict-protocols-regular-audits-encryption-span8 {
  color: #000000;
  font-family: "PublicSans-Light", sans-serif;
  font-size: 26px;
  line-height: 45px;
  font-weight: 300;
}
.purpose-empower-citizens-to-report-corruption-securely-anonymous-reporting-protects-identities-features-secure-channels-encrypted-communication-multiple-reporting-options-web-app-hotline-geo-tagging-precise-location-tracking-evidence-upload-attach-files-case-management-efficient-handling-anonymous-messaging-investigators-and-whistleblowers-reporting-click-report-corruption-choose-channel-remain-anonymous-progress-investigators-review-reports-updates-via-secure-messaging-data-security-strict-protocols-regular-audits-encryption-span9 {
  color: #000000;
  font-family: "PublicSans-Light", sans-serif;
  font-size: 26px;
  line-height: 45px;
  font-weight: 300;
}
.purpose-empower-citizens-to-report-corruption-securely-anonymous-reporting-protects-identities-features-secure-channels-encrypted-communication-multiple-reporting-options-web-app-hotline-geo-tagging-precise-location-tracking-evidence-upload-attach-files-case-management-efficient-handling-anonymous-messaging-investigators-and-whistleblowers-reporting-click-report-corruption-choose-channel-remain-anonymous-progress-investigators-review-reports-updates-via-secure-messaging-data-security-strict-protocols-regular-audits-encryption-span10 {
  color: #000000;
  font-family: "PublicSans-Bold", sans-serif;
  font-size: 26px;
  line-height: 45px;
  font-weight: 700;
}
.purpose-empower-citizens-to-report-corruption-securely-anonymous-reporting-protects-identities-features-secure-channels-encrypted-communication-multiple-reporting-options-web-app-hotline-geo-tagging-precise-location-tracking-evidence-upload-attach-files-case-management-efficient-handling-anonymous-messaging-investigators-and-whistleblowers-reporting-click-report-corruption-choose-channel-remain-anonymous-progress-investigators-review-reports-updates-via-secure-messaging-data-security-strict-protocols-regular-audits-encryption-span11 {
  color: #000000;
  font-family: "PublicSans-Light", sans-serif;
  font-size: 26px;
  line-height: 45px;
  font-weight: 300;
}
.purpose-empower-citizens-to-report-corruption-securely-anonymous-reporting-protects-identities-features-secure-channels-encrypted-communication-multiple-reporting-options-web-app-hotline-geo-tagging-precise-location-tracking-evidence-upload-attach-files-case-management-efficient-handling-anonymous-messaging-investigators-and-whistleblowers-reporting-click-report-corruption-choose-channel-remain-anonymous-progress-investigators-review-reports-updates-via-secure-messaging-data-security-strict-protocols-regular-audits-encryption-span12 {
  color: #000000;
  font-family: "PublicSans-Light", sans-serif;
  font-size: 26px;
  line-height: 45px;
  font-weight: 300;
}
.purpose-empower-citizens-to-report-corruption-securely-anonymous-reporting-protects-identities-features-secure-channels-encrypted-communication-multiple-reporting-options-web-app-hotline-geo-tagging-precise-location-tracking-evidence-upload-attach-files-case-management-efficient-handling-anonymous-messaging-investigators-and-whistleblowers-reporting-click-report-corruption-choose-channel-remain-anonymous-progress-investigators-review-reports-updates-via-secure-messaging-data-security-strict-protocols-regular-audits-encryption-span13 {
  color: #000000;
  font-family: "PublicSans-Bold", sans-serif;
  font-size: 26px;
  line-height: 45px;
  font-weight: 700;
}
.purpose-empower-citizens-to-report-corruption-securely-anonymous-reporting-protects-identities-features-secure-channels-encrypted-communication-multiple-reporting-options-web-app-hotline-geo-tagging-precise-location-tracking-evidence-upload-attach-files-case-management-efficient-handling-anonymous-messaging-investigators-and-whistleblowers-reporting-click-report-corruption-choose-channel-remain-anonymous-progress-investigators-review-reports-updates-via-secure-messaging-data-security-strict-protocols-regular-audits-encryption-span14 {
  color: #000000;
  font-family: "PublicSans-Light", sans-serif;
  font-size: 26px;
  line-height: 45px;
  font-weight: 300;
}
.about-us {
  color: #ff5050;
  text-align: left;
  font-family: "PublicSans-ExtraBold", sans-serif;
  font-size: 40px;
  line-height: 45px;
  font-weight: 800;
  position: absolute;
  left: calc(50% - 98px);
  top: 80px;
  width: 249px;
  height: 45px;
  -webkit-text-stroke: 1px #000000;
}
